/* Empty. Add your own CSS if you like */

/*.has-footer.has-tabs {
  bottom: 93px;
}

.sub-footer{
bottom:49px !important;
}*/

.assertive.hovered:hover {
  opacity: 0.4;
  color: crimson !important;
}

/*.item-button-right {
  padding-right: 0px
}*/